// Mixins Here

//alignment
.center (){
    justify-content: center;
    align-content: center;
}



//button - parametric

.button(@size, @bg, @text){
    background-color: @bg;
      color: @text;
      // width: 5rem;
      // height: auto;
      // margin: 0px;
      padding: 12px 0px;
      font-size: @size;
      border-radius: 10px;
      text-align: center;
}
